[Unit]
Description=Mocplayer
After=network.target radiopi.service

[Service]
ExecStart=mocp -S
WorkingDirectory=/home/hara
Restart=always
User=hara

[Install]
WantedBy=multi-user.target
