[Unit]
Description=Mocplayer
After=network.target sound.target alsa-restore.service
Requires=sound.target

[Service]
ExecStart=mocp -S
WorkingDirectory=/home/hara
Restart=always
User=hara

[Install]
WantedBy=multi-user.target
