[Unit]
Description=RadioPi Webserver
After=network.target

[Service]
ExecStart=python /home/hara/radiopi/radio.py
WorkingDirectory=/home/hara/radiopi
Restart=always
User=hara

[Install]
WantedBy=multi-user.target
