[Unit]
Description=RadioPi
After=network.target sound.target alsa-restore.service mocplay.service
Requires=sound.target

[Service]
ExecStart=python /home/hara/radiopi/radio.py
WorkingDirectory=/home/hara/radiopi
Restart=always
User=hara

[Install]
WantedBy=multi-user.target
