[Unit]
Description=RadioPi Webserver
After=network.target

[Service]
ExecStart=python /home/hara/radiopi/webinterface/server.py
WorkingDirectory=/home/hara/radiopi/webinterface
Restart=always
User=hara

[Install]
WantedBy=multi-user.target
